<%= link_to "Upload new photo", new_photo_path, class: "btn btn-default" %>
<hr>
<%if @photos == [] %>
<p>Empty</p>
<% else %>
<% @photos.each do |photo| %>
     <%= photo.name %>
 	 <%= image_tag(photo.photo_url) %>
	<% end %>
	<% end %>