<%= link_to "Upload new photo", new_photo_path, class: "btn btn-default" %>
<hr>
<%if @photos == [] %>
<p>Photo ninchen</p>
<% else %>
<% @photos.each do |photo| %>
 	 <%= image_tag(photo.photo_url) %>
 		<%= photo.name %>
	<% end %>
	<% end %>